@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --accent: 342.08 71.96% 58.04%;
  }

  [type="text"],
  [type="password"],
  [type="email"],
  [type="number"],
  [type="url"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="time"],
  [type="search"],
  [type="tel"],
  [type="radio"],
  [multiple],
  select,
  select[multiple],
  textarea {
    @apply focus:outline-none focus:ring-0 focus:ring-offset-0;
  }
}
