figure[data-rehype-pretty-code-figure] {
  @apply border-2 border-border font-caskaydia rounded-md bg-[#fefaf9] dark:bg-[#1d2528] overflow-hidden my-12;
}

figure[data-rehype-pretty-code-figure] pre {
  @apply rounded-none p-0 m-0 bg-[#fefaf9] dark:bg-[#1d2528] overflow-x-auto font-caskaydia leading-6 text-[14px] md:text-[15px];
}

figure[data-rehype-pretty-code-figure] code {
  @apply rounded-none px-0 py-2.5 m-0 bg-[#fefaf9] dark:bg-[#1d2528];
}

figcaption[data-rehype-pretty-code-title] {
  @apply p-0 m-0 border-b border-b-border px-4 py-3 italic text-sm text-gray-400 dark:text-gray-500;
}

figure[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: lineNumber;
}
 
figure[data-rehype-pretty-code-figure] code[data-line-numbers] span[data-line]::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  @apply inline-block text-right text-gray-400 dark:text-gray-500 pr-3;
}

figure[data-rehype-pretty-code-figure] span[data-line] {
  @apply border-l-4 border-l-transparent px-3;
}

html.light figure[data-rehype-pretty-code-figure] span[data-highlighted-line] {
  border-left-color: rgb(38 157 105 / 0.7);
  background-color: rgb(38 157 105 / 0.1);
}

html.dark figure[data-rehype-pretty-code-figure] span[data-highlighted-line] {
  border-left-color: rgb(162 229 123 / 0.7);
  background-color: rgb(162 229 123 / 0.1);
}

html.light figure[data-rehype-pretty-code-figure],
html.light figure[data-rehype-pretty-code-figure] span {
  color: var(--shiki-light);
}

html.dark figure[data-rehype-pretty-code-figure],
html.dark figure[data-rehype-pretty-code-figure] span {
  color: var(--shiki-dark);
}
