figure[data-rehype-pretty-code-figure] {
  overflow: hidden;

  background-color: rgb(59, 59, 59);
  border-radius: 0.5rem;
}

figure[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;

  padding-top: 1rem;
  padding-bottom: 1rem;

  font-size: 0.875rem;
  line-height: 1.7rem;
}

figcaption[data-rehype-pretty-code-title] {
  margin-top: 0rem;
  margin-bottom: 0rem;
  border-radius: 0;

  padding-top: 0.5rem;
  padding-bottom: 0.6rem;

  padding-left: 1.25rem;
  padding-right: 1.25rem;

  color: #c3c3c3;
}

figure[data-rehype-pretty-code-figure] pre [data-line] {
  padding-left: 1rem;
  padding-right: 1.25rem;

  border-left-width: 0.25rem;
  border-left-color: transparent;

  font-weight: 400;
  font-family: Monaco, Menlo, ui-monospace, SFMono-Regular, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

figure[data-rehype-pretty-code-figure] pre [data-highlighted-line] {
  border-left-color: rgb(16, 185, 129);
  background-color: rgba(16, 185, 129, 0.1);
}

figure[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: lineNumber;
}

figure[data-rehype-pretty-code-figure] code[data-line-numbers] [data-line]::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);

  display: inline-block;
  text-align: right;

  width: 1rem;
  color: #64748b;
  margin-right: 1rem;
}
